<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">
            <b>Edit</b>
            <legend>Term & Conditions</legend>
          </h1>
        </div>
        <!-- /.card-header -->
        <form role="form" id="quickForm" action="/tnc/edit/{{id}}" method="POST">
          <div class="card-body">
            {{#if messages.msg_info}}
              <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-check"></i> Success!</h5>
                {{messages.msg_info}}
              </div>
            {{/if}}
            {{#if messages.msg_error}}
              <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                {{messages.msg_error}}
              </div>
            {{/if}}
            <div class="form-group">
              <label for="title">Title</label>
              <input name="title" class="form-control" id="title" placeholder="title" value="{{results.title}}" required />
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="textarea" name="description" id="description" placeholder="description" value="{{results.description}}" required> </textarea> 
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <input type="hidden" name="_method" value="POST" />
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-secondary" href="/tnc">
              Cancel
            </a>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->